
*, *::before, *::after {
    box-sizing: border-box;
}

html {
    min-height: 100%;
    font-size: 1em;
}

body {
    color: #435757;
    background: radial-gradient(#7f7f7f, #dac4cd);
}

hr {
    border-top: 2px solid black
}
select {
    padding: 0.5em;
    border-radius: 5px;
    font-size: 1.4em;
}
div.homePage {
    background: transparent;
    font-size: large;
}

div.homePage h1 {
    background: transparent;
    font-size: 300%;
}

/* bootstrap overrides*/
.redBorder {
    border: 3px outset red;
}

movie-info-box {
    border: 2px solid pink;
}

/*.nav li a {padding: 0px; margin-left: 20px; outline: none; }*/
.navbar {
    border-radius: 0px
}


div.repeat:nth-child(6n+1) { /*required to clear movies in next row */
    clear: both;
}

a > .btn {
    font-size: 3vh;
    font-size: 3vmax;
}

.btnLink {
    border: 3px solid grey;
    padding: 5px;
    margin: 60px;
    font-size: large;
    text-decoration: none;
    color: grey;
}

a:hover {
    color: black;
    text-decoration: none;
}

h1, h2, h3, h4 {
    margin-top: 0px
}

#rotten > h2, #rotten > h3, #rotten > h4 {
    padding-left: 15px
}

div#rotten > p {
    padding-left: 30px
}
/*==================================================
=            Bootstrap 3 Media Queries             =
==================================================*/
/* Large desktops and laptops */
@media (min-width: 1200px) {

}
/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {

}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {

    div.repeat:nth-child(3n+1) {
        clear: both;
    }
}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {

    div.repeat:nth-child(2n+1) {
        clear: both;
    }

    .navbar-brand > img {
        display: none;
    }
}

/* Portrait phones and smaller */
@media (max-width: 480px) {

    div.repeat:nth-child(2n+1) {
        clear: both;
    }

    .navbar-brand > img {
        display: none;
    }
}

.fade.in {
    opacity: 1;
    display: block;
    overflow-x: hidden;
    overflow-y: auto;
}

.fade.out {
    display: none;
}

/* when hiding the picture */
.ng-hide-add {
    animation: 1.5s lightSpeedOut ease;
}

/* when showing the picture */
.ng-hide-remove {
    animation: 1.5s flipInX ease;
}

.form-group .glyphicon {
    top: 8px;
    font-size: 24px
}